<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Multishippingfix>
            <version>0.1.0</version>
        </Aligent_Multishippingfix>
    </modules>
    <global>
        <models>
            <multishippingfix>
                <class>Aligent_Multishippingfix_Model</class>
            </multishippingfix>
            <checkout>
                <rewrite>
                    <type_multishipping>Aligent_Multishippingfix_Model_Type_Multishipping</type_multishipping>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_payment>Aligent_Multishippingfix_Model_Order_Payment</order_payment>
                    <order>Aligent_Multishippingfix_Model_Order</order>
                    <order_invoice_total_discount>Aligent_Multishippingfix_Model_Sales_Order_Invoice_Total_Discount</order_invoice_total_discount>
                </rewrite>
            </sales>
        </models>
        <resources>
            <multishippingfix_setup>
                <setup>
                    <module>Aligent_Multishippingfix</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </multishippingfix_setup>
        </resources>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Aligent_Multishippingfix/>
            </modules>
        </suite>
    </phpunit>
</config>